<div class="sidebar__container">
  <ul class="sidebar__menu__container">
    <li class="sidebar__menu__item">
      <a
        class="sidebar__menu__link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon icon--home" size="15"></span>
        Kezdőlap
      </a>
    </li>
    <li class="sidebar__menu__item">
      <a
        class="sidebar__menu__link"
        routerLink="/categories"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon icon--categories" size="15"></span>
        Kategóriák
      </a>
    </li>
    <li class="sidebar__menu__item">
      <a
        class="sidebar__menu__link"
        routerLink="/items"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon icon--items" size="15"></span>
        Eszközök
      </a>
    </li>
    <li class="sidebar__menu__item">
      <a
        class="sidebar__menu__link"
        routerLink="/reservations"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon icon--reservations" size="15"></span>
        Foglalások
      </a>
    </li>
    <li class="sidebar__menu__item">
      <a
        class="sidebar__menu__link"
        routerLink="/users"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon icon--users" size="15"></span>
        Felhasználók
      </a>
    </li>
  </ul>
</div>
