@use "../abstracts/mixins";

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--button-flex-gap);
  width: 100%;
  height: var(--button-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color var(--button-transition-time)
    var(--button-transition-timing-function);

  &:not(.button--full-width) {
    width: var(--button-width);
  }

  &:disabled {
    cursor: text;
  }

  &[color="primary"] {
    @include mixins.button-colors(
      var(--primary-color),
      var(--primary-color-hover),
      var(--primary-color-disabled)
    );
  }

  &[color="success"] {
    @include mixins.button-colors(
      var(--success-color),
      var(--success-color-hover),
      var(--success-color-disabled)
    );
  }

  &[color="warning"] {
    @include mixins.button-colors(
      var(--warning-color),
      var(--warning-color-hover),
      var(--warning-color-disabled)
    );
  }

  &[color="danger"] {
    @include mixins.button-colors(
      var(--danger-color),
      var(--danger-color-hover),
      var(--danger-color-disabled)
    );
  }

  &__text {
    line-height: normal;
    color: var(--button-font-color);
  }

  .icon {
    fill: var(--button-font-color);
  }
}
