@use "abstracts/mixins";

:host {
  display: block;
  padding: var(--element-padding);
  border-radius: var(--element-border-radius);
  width: 90vw;
  max-width: var(--card-width);
  background: var(--element-background);

  @include mixins.breakpoint(small) {
    padding: var(--element-padding-compact);
    width: 95vw;
  }
}
