<ul class="navbar__content">
  <li class="navbar__item">
    <a class="navbar__link" routerLink="/sign-up">Regisztráció</a>
  </li>
  <li class="navbar__item">
    <a class="navbar__link" routerLink="/sign-in">
      <ek-button [isFullWidth]="false">Bejelentkezés</ek-button>
    </a>
  </li>
</ul>

<ul class="navbar__menu__container">
  <li class="navbar__menu__item">
    <a class="navbar__menu__link" routerLink="/sign-up">Regisztráció</a>
  </li>
  <li class="navbar__menu__item">
    <a class="navbar__menu__link" routerLink="/sign-in" color="primary">
      Bejelentkezés
    </a>
  </li>
</ul>
