/* COLORS */

$colors: primary, success, warning, danger;

@mixin spinner-color($color) {
  border: var(--spinner-border-width) solid $color;
}

@mixin button-colors($background, $hover-background, $disabled-background) {
  background: $background;

  &:not(:disabled):hover {
    background: $hover-background;
  }

  &:disabled {
    background: $disabled-background;
  }
}

@mixin dropdown-menu-item-colors() {
  @each $color in $colors {
    &[color="#{$color}"] {
      &:hover {
        background: var(--#{$color}-color-element-background);
      }

      .dropdown__menu__link {
        color: var(--#{$color}-color);

        .icon {
          fill: var(--#{$color}-color);
        }
      }
    }
  }
}

/* BREAKPOINTS */

@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $point == medium {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
