@use "sass:color";

:root {
  /* BASE COLORS */
  --background: rgb(247, 247, 247);
  --foreground: rgb(1, 1, 1);
  --primary-color: rgb(71, 141, 246);
  --primary-color-hover: #{color.adjust(rgb(71, 141, 246), $lightness: -3%)};
  --primary-color-disabled: #{color.adjust(
      #478df6,
      $lightness: 5%,
      $saturation: -10%
    )};
  --primary-color-element-background: #{color.adjust(
      rgb(71, 141, 246),
      $lightness: 33%
    )};
  --success-color: rgb(23, 201, 100);
  --success-color-hover: #{color.adjust(rgb(23, 201, 100), $lightness: -2%)};
  --success-color-disabled: #{color.adjust(
      rgb(23, 201, 100),
      $lightness: 20%,
      $saturation: -10%
    )};
  --success-color-element-background: #{color.adjust(
      rgb(23, 201, 100),
      $lightness: 50%
    )};
  --warning-color: rgb(252, 168, 33);
  --warning-color-hover: #{color.adjust(rgb(252, 168, 33), $lightness: -3%)};
  --warning-color-disabled: #{color.adjust(
      rgb(252, 168, 33),
      $lightness: 10%,
      $saturation: -10%
    )};
  --warning-color-element-background: #{color.adjust(
      rgb(252, 168, 33),
      $lightness: 38%
    )};
  --danger-color: rgb(243, 18, 96);
  --danger-color-hover: #{color.adjust(rgb(243, 18, 96), $lightness: -3%)};
  --danger-color-disabled: #{color.adjust(
      rgb(243, 18, 96),
      $lightness: 10%,
      $saturation: -10%
    )};
  --danger-color-element-background: #{color.adjust(
      rgb(243, 18, 96),
      $lightness: 45%
    )};

  /* FONTS */
  --font-size: 16px;
  --font-weight: 500;
  --title-font-size: 1.75rem;
  --title-font-weight: 800;
  --title-line-height: var(--title-font-size);

  /* TRANSITIONS */
  --transition-time: 0.2s;
  --transition-timing-function: ease-in-out;

  /* CONTAINER */
  --container-flex-gap: 1.5rem;
  --container-padding: 3rem;
  --container-rim-size: 0.5rem;
  --container-border-radius: 1rem;

  /* NAVBAR */
  --navbar-height: 80px;
  --navbar-container-width: 90vw;
  --navbar-item-gap: 1.2rem;
  --navbar-menu-height: calc(100vh - var(--navbar-height));
  --navbar-menu-font-size: 1.3rem;
  --navbar-menu-item-padding-x: 0;
  --navbar-menu-item-padding-y: 0.5rem;
  --navbar-menu-item-animation-name: fade-down;
  --navbar-menu-item-animation-duration: var(--transition-time);
  --navbar-menu-item-animation-timing-function: var(
    --transition-timing-function
  );
  --navbar-menu-transition-time: var(--transition-time);
  --navbar-menu-transition-timing-function: var(--transition-timing-function);
  --navbar-dropdown-top: 1.5rem;
  --navbar-toggle-transition-time: var(--transition-time);
  --navbar-toggle-transition-timing-function: var(--transition-timing-function);

  /* SIDEBAR */
  --sidebar-width: 225px;
  --sidebar-container-width: 85%;
  --sidebar-menu-flex-gap: 0.5rem;
  --sidebar-menu-item-font-size: 0.9rem;
  --sidebar-menu-item-flex-gap: 0.5rem;
  --sidebar-menu-item-padding-x: 1.2rem;
  --sidebar-menu-item-padding-y: 0.6rem;
  --sidebar-menu-item-border-radius: 3rem;
  --sidebar-menu-item-transition-time: var(--transition-time);
  --sidebar-menu-item-transition-timing-function: var(
    --transition-timing-function
  );
  --sidebar-menu-item-hover-background: var(--avatar-background);

  /* ELEMENT */
  --element-background: rgb(255, 255, 255);
  --element-background-secondary: rgb(240, 240, 240);
  --element-foreground-secondary: rgb(150, 149, 149);
  --element-padding: 2rem;
  --element-padding-compact: 1.75rem;
  --element-flex-gap: var(--element-padding);
  --element-border-radius: var(--element-padding);

  /* CARD */
  --card-width: 450px;
  --card-flex-gap: 1.75rem;

  /* INPUT */
  --input-width: 400px;
  --input-height: 3.5rem;
  --input-padding-x: 1.5rem;
  --input-padding-y: 0;
  --input-margin: 1rem;
  --input-border-width: 2px;
  --input-border-radius: 3rem;
  --input-border-color: rgb(210, 210, 210);
  --input-transition-time: var(--transition-time);
  --input-transition-timing-function: var(--transition-timing-function);
  --input-label-top: calc(var(--input-height) / 2 - 0.5rem - 1px);
  --input-label-left: calc(var(--input-padding-x) + var(--input-border-width));
  --input-label-padding-y: 0.2rem;
  --input-label-small-font-size: 0.8rem;
  --input-label-transition-time: calc(var(--transition-time) - 0.05s);
  --input-label-transition-timing-function: ease-out;

  /* BUTTON */
  --button-font-color: var(--element-background);
  --button-width: auto;
  --button-height: var(--input-height);
  --button-padding-x: var(--input-padding-x);
  --button-padding-y: var(--input-padding-y);
  --button-flex-gap: 0.5rem;
  --button-border-radius: var(--input-border-radius);
  --button-transition-time: var(--transition-time);
  --button-transition-timing-function: var(--transition-timing-function);

  /* SPINNER */
  --spinner-size: 1.5rem;
  --spinner-size-small: 1rem;
  --spinner-size-large: 2.5rem;
  --spinner-border-width: 4px;
  --spinner-border-width-small: 2px;
  --spinner-border-width-large: 5px;

  /* AVATAR */
  --avatar-size: 2.5rem;
  --avatar-border-radius: var(--avatar-size);
  --avatar-font-size: 0.9rem;
  --avatar-background: rgb(238, 238, 238);

  /* DROPDOWN */
  --dropdown-width: 200px;
  --dropdown-padding-x: 0.5rem;
  --dropdown-padding-y: var(--dropdown-padding-x);
  --dropdown-margin: 1.5rem;
  --dropdown-border-radius: 1.5rem;
  --dropdown-box-shadow-size: 0 0 5px;
  --dropdown-box-shadow-color: rgba(0, 0, 0, 0.1);
  --dropdown-translate-y: -0.5rem;
  --dropdown-item-hover-background: var(--avatar-background);
  --dropdown-transition-time: var(--transition-time);
  --dropdown-transition-timing-function: var(--transition-timing-function);
  --dropdown-item-font-size: 0.9rem;
  --dropdown-item-padding-x: 0.9rem;
  --dropdown-item-padding-y: 0.6rem;
  --dropdown-item-flex-gap: 0.5rem;
  --dropdown-item-border-radius: calc(
    var(--dropdown-border-radius) + var(--dropdown-padding-y)
  );
  --dropdown-item-transition-time: var(--transition-time);
  --dropdown-item-transition-timing-function: var(--transition-timing-function);
  --dropdown-item-animation-name: fade-down;
  --dropdown-item-animation-duration: 0.25s;
  --dropdown-item-animation-timing-function: var(--transition-timing-function);

  /* TABLE */
  --table-flex-gap: 1.5rem;
  --table-container-padding: 1.5rem;
  --table-container-border-radius: 2rem;
  --table-row-border-radius: 3rem;
  --table-head-item-padding-x: 1.5rem;
  --table-head-item-padding-y: 0.7rem;
  --table-animation-name: fade;
  --table-animation-duration: 0.3s;
  --table-animation-timing-function: var(--transition-timing-function);
  --table-head-animation-name: fade;
  --table-head-animation-duration: 0.35s;
  --table-head-animation-timing-function: var(--transition-timing-function);
  --table-column-padding-x: var(--table-head-item-padding-x);
  --table-column-padding-y: var(--table-head-item-padding-y);
  --table-row-animation-name: fade-down;
  --table-row-animation-duration: 0.25s;
  --table-row-animation-timing-function: var(--transition-timing-function);

  /* MODAL */
  --modals-wrapper-background: rgba(0, 0, 0, 0.35);
  --modal-width: var(--card-width);
  --modal-flex-gap: var(--card-flex-gap);
  --modal-closed-scale: 0.8;
  --modal-transition-time: var(--transition-time);
  --modal-transition-timing-function: var(--transition-timing-function);
}
