:root {
  /* BASE COLORS */
  --background: #f7f7f7;
  --foreground: #010101;
  --primary-color: #478df6;
  --primary-color-hover: #4686ed;
  --primary-color-disabled: #6299ec;
  --success-color: #17c964;
  --success-color-hover: #0dc45c;
  --success-color-disabled: #50cf87;
  --warning-color: #fca821;
  --warning-color-hover: #f3a62b;
  --warning-color-disabled: #f3b249;
  --danger-color: #f31260;
  --danger-color-hover: #e50b57;
  --danger-color-disabled: #ee437f;

  /* FONTS */
  --font-size: 16px;
  --font-weight: 500;
  --title-font-size: 2rem;
  --title-font-weight: 800;
  --title-line-height: var(--title-font-size);

  /* TRANSITIONS */
  --transition-time: 0.2s;
  --transition-timing-function: ease-in-out;

  /* CONTAINER */
  --container-flex-gap: 1.5rem;

  /* NAVBAR */
  --navbar-height: 70px;
  --navbar-container-width: 90vw;
  --navbar-item-gap: 1.2rem;
  --navbar-menu-height: calc(100vh - var(--navbar-height));
  --navbar-menu-font-size: 1.3rem;
  --navbar-menu-item-padding-x: 0;
  --navbar-menu-item-padding-y: 0.5rem;
  --navbar-menu-item-animation-name: fade-down;
  --navbar-menu-item-animation-duration: var(--transition-time);
  --navbar-menu-item-animation-timing-function: var(
    --transition-timing-function
  );
  --navbar-menu-transition-time: var(--transition-time);
  --navbar-menu-transition-timing-function: var(--transition-timing-function);
  --navbar-toggle-transition-time: var(--transition-time);
  --navbar-toggle-transition-timing-function: var(--transition-timing-function);

  /* ELEMENT */
  --element-background: #ffffff;
  --element-background-secondary: #bebebe;
  --element-foreground-secondary: #969696;
  --element-padding: 2rem;
  --element-padding-compact: 1.5rem;
  --element-flex-gap: var(--element-padding);
  --element-border-radius: var(--element-padding);

  /* CARD */
  --card-width: 450px;
  --card-flex-gap: 2rem;

  /* INPUT */
  --input-width: auto;
  --input-padding-x: 1.5rem;
  --input-padding-y: 1rem;
  --input-margin: 1rem;
  --input-border-width: 2px;
  --input-border-radius: 3rem;
  --input-transition-time: var(--transition-time);
  --input-transition-timing-function: var(--transition-timing-function);
  --input-label-top: calc(
    var(--input-padding-y) + var(--input-border-width) + 1px
  );
  --input-label-left: calc(var(--input-padding-x) + var(--input-border-width));
  --input-label-padding-y: 0.2rem;
  --input-label-small-font-size: 0.8rem;
  --input-label-transition-time: calc(var(--transition-time) - 0.05s);
  --input-label-transition-timing-function: ease-out;

  /* BUTTON */
  --button-font-color: var(--element-background);
  --button-width: var(--input-width);
  --button-padding-x: var(--input-padding-x);
  --button-padding-y: var(--input-padding-y);
  --button-flex-gap: 0.5rem;
  --button-border-radius: var(--input-border-radius);
  --button-transition-time: var(--transition-time);
  --button-transition-timing-function: var(--transition-timing-function);

  /* SPINNER */
  --spinner-size: 1.5rem;
  --spinner-size-small: 1rem;
  --spinner-size-large: 2.5rem;
  --spinner-border-width: 4px;
  --spinner-border-width-small: 2px;
  --spinner-border-width-large: 5px;
}
