<div class="navbar__container">
  <div class="navbar__brand">
    <a class="navbar__link" routerLink="/">EKKE-MKI</a>
  </div>

  <div class="navbar__nav--no-auth" *ngIf="!isAuthenticated()"></div>
  <div
    class="navbar__nav--admin"
    *ngIf="isAuthenticated() && isUserAdmin()"
  ></div>
  <div
    class="navbar__nav--user"
    *ngIf="isAuthenticated() && !isUserAdmin()"
  ></div>

  <button class="navbar__toggle" (click)="toggleMenu()">
    <span class="navbar__toggle__line"></span>
    <span class="navbar__toggle__line"></span>
    <span class="navbar__toggle__line"></span>
  </button>
</div>
