<ek-card>
  <ek-card-title>Bejelentkezés</ek-card-title>
  <ek-card-body>
    <form (submit)="signIn($event)">
      <ek-input
        type="email"
        label="E-mail cím"
        [(value)]="email"
        [isRequired]="true"
      />
      <ek-input
        type="password"
        label="Jelszó"
        [(value)]="password"
        [isRequired]="true"
      />
      <ek-button [isDisabled]="!isFormValid()" [isLoading]="isLoading"
        >Bejelentkezés</ek-button
      >
    </form>
  </ek-card-body>
</ek-card>
