html {
  font-size: var(--font-size);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight);
  font-style: normal;
  color: var(--foreground);
}
